* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    position: relative;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    line-height: 1.2em;
    background-color: var(--background-color);
    min-height: 100vh;
}

/* header */

.header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2.5rem;
    background-color: var(--background-color);
    border-bottom: 1px solid var(--border-color-light);
    z-index: 1;
}

@keyframes shine {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 200%;
    }
}

.logo {
    position: relative;
    font-size: 2rem;
    line-height: 1em;
    font-weight: 600;
    text-transform: lowercase;
    background: linear-gradient(-60deg,
                var(--title-color) 0%,
                var(--title-color) 40%,
                #fff 50%,
                var(--title-color) 60%,
                var(--title-color) 100%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: 0%;
    background-clip: text;
    cursor: pointer;

    & span {
        background-color: var(--accent-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-position: 0%;
        background-clip: text;
    }

    &:hover {
        animation: shine;
        animation-duration: 2s;
    }
}

.menu {
    display: flex;
    flex-direction: row;
    gap: .5rem
}

.menu__item {
    appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5rem;
    padding: .5rem 1rem;
    border: none;
    border-radius: .5rem;
    background-color: var(--border-color-light);
    cursor: pointer;
    transition: background-color .1s;

    &:hover, &:active {
        background-color: var(--border-color);
        transition: background-color .1s;
    }
}

/* main content section */

.events-page {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 2.5rem;
}

.hero, .events, .event-card__top, .modal__top {
    display: flex;
    flex-direction: column;
    gap: .5rem
}

.hero__title {
    font-size: 4rem;
}

.filters-form {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.events__cards {
    padding: 2.5rem 0;
    display: flex;
    /* grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr; */
    flex-direction: row;
    flex-wrap: wrap;    
    gap: var(--cards-gap);
}

/* cards */

.event-card {
    flex: 0 0 calc((100% - var(--cards-gap)) / 2);
}

.event-card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 2.5rem;
    border-radius: 1.5rem;
    background-color: var(--white);
    border: 1.5px solid var(--white);
    transform: translateY(0);
    transition: border-color .3s, transform .3s;

    &:hover {
        border-color: var(--accent-color-background);
        transform: translateY(-.25rem);
        transition: border-color .3s, transform .3s;
    }
}

.events-add {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
    font-size: 1rem;
    color: var(--accent-color-background-dark);
    background-color: transparent;
    border: 1.5px solid var(--accent-color-background-dark);
    transform: translateY(0);
    cursor: pointer;
    transition: border-color .3s, transform .3s;

    &:hover {
        border-color: var(--accent-color-background-dark);
        transform: translateY(-.25rem);
        transition: border-color .3s, transform .3s;
    }
}

.events-add__icon {
    height: 1rem;
    width: auto;
    
    & path {
        stroke-width: 1.5;
        stroke: var(--accent-color-background-dark)
    }
}

.event-card__top {
    margin-bottom: 1.5rem;
}

.event-card__bottom {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-top: 1.5rem;
    border-top: 1px solid var(--border-color-light);
}

.event-card__details {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: .5rem;
    align-items: center;

    & .icon__image {
        max-height: 1.2rem;
    }
}

.event-card__subtitle {
    font-size: .75rem;
    padding: .5rem .75rem;
    border-radius: .5rem;
    background-color: var(--accent-color-background);
    align-self: flex-start;
}

.event-card__title.title {
    font-size: 2.5rem;
}

.event-card__details, .label, .modal__close {
    color: var(--text-color);
}

.button {
    appearance: none;
    width: 100%;
    font-size: 1rem;
    padding: 1rem;
    margin-top: 1.5rem;
    border: 1.5px solid var(--accent-color);
    border-radius: .75rem;
    background-color: var(--accent-color);
    color: white;
    cursor: pointer;
    transition: background-color .2s, color .2s;

    &:hover {
        background-color: transparent;
        color: var(--accent-color);
        transition: background-color .2s, color .2s;
    }

    &.button_sign-out {
        background-color: transparent;
        color: var(--accent-color);
        transition: background-color .2s, color .2s;

        &:hover {
            background-color: var(--accent-color);
            color: white;
            transition: background-color .2s, color .2s;
        }
    }

    &:disabled {
        background-color: var(--border-color);
        border-color: var(--border-color);
        cursor: not-allowed;

        &:hover {
            background-color: var(--border-color);
            border-color: var(--border-color);
            color: white;
        }
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-height: 3rem;

    & .icon__image {
        animation-name: spinner;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

/* text */

.subtitle {
    font-weight: 600;
    line-height: 1em;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: var(--accent-color);
}

.title {
    line-height: 1.2em;
    font-weight: 700;
    color: var(--title-color);
}

.description {
    line-height: 1.5rem;
    font-weight: normal;
    color: var(--text-color);
}

.events__error {
    display: none;
    font-size: 1rem;
    padding: .5rem .75rem;
    border-radius: .5rem;
    align-self: flex-start;
    justify-self: flex-start;
    background-color: var(--accent-color-background);
    color: var(--accent-color);

    &.error-message_active {
        display: block;
    }
}

.modal-form__error {
    font-size: .75rem;
    line-height: 2em;
    color: var(--dark-error);
}

/* modal */

.modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-items: center;
    background-color: rgba(31, 32, 36, 0.85);
    visibility: hidden;
    opacity: 0;
    z-index: 1;

    &.modal_open {
        display: block;
        visibility: visible;
        opacity: 1;
    }
}

.modal__dialog {
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    width: 95%;
    max-width: 600px;
    border-radius: 1.5rem;
    background-color: var(--white);
}

.modal__top {
    margin-bottom: 1.5rem;
}

.modal__title {
    font-size: 2.5rem;
}

.modal__close {
    appearance: none;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 2rem;
    line-height: 1em;
    width: 1em;
    background-color: transparent;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    transition: background-color .2s;

    &:hover {
        background-color: var(--border-color-light);
    }
}

/* forms */

.input {
    appearance: none;
    font-size: 1rem;
    padding: .75rem 1rem;
    border: 1.5px solid var(--border-color-light);
    border-radius: .75rem;
    color: var(--border-color-light);
    background-color: var(--white);
    width: 100%;

    &:focus, 
    &:not(:placeholder-shown) {
        color: var(--input-text-color);
    }

    &:focus {
        border-color: var(--accent-color);
    }

    &.invalid {
        border-color: var(--dark-error);
        background-color: var(--light-error);
    }
}

.label {
    display: block;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.select {
    appearance: none;
    font-size: 1rem;
    padding: .75rem 1rem;
    border: 1.5px solid var(--border-color);
    border-radius: .75rem;
    color: var(--input-text-color);
    background-color: var(--white);
    background-image: url('./assets/Arrow\ -\ Down\ 2.svg');
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: calc(100% - 1rem) 50%;
}

.filters-form__input,
.filters-form__select {
    flex-grow: 1;
    width: unset;
}

@media (max-width: 991px) {
    html {
        font-size: 12px
    }

    .event-card {
        flex: 1 0 100%;
    }

    /* .events__cards {
        grid-template-columns: 1fr;
    } */
}

@media (max-width: 480px) {
    html {
        font-size: 10px
    }
}

/* global */

:root {
    --accent-color: #2897FF;
    --accent-color-background: #EAF2FF;
    --accent-color-background-dark: #B4DBFF;

    --border-color: #D4D6DD;
    --border-color-light: #E8E9F1;
    --background-color: #F8F9FE;
    --white: #FFFFFF;

    --title-color: #1F2024;
    --input-text-color: #2F3036;
    --text-color: #494A50;

    --dark-success: #298267;
    --medium-success: #3AC0A0;
    --light-success: #E7F4E8;

    --dark-error: #ED3241;
    --medium-error: #FF616D;
    --light-error: #FFE2E5;

    --cards-gap: 1.5rem;

    &[data-theme='dark'] {
        --accent-color: #006FFD;
        --accent-color-background: #B4DBFF;

        --background-color: #2F3036;

        --title-color: #FFFFFF;
        --text-color: #D4D6DD;

        --white: #494A50;

        --border-color: #494A50;
        --border-color-light: #71727A;

        --input-text-color: #D4D6DD;

        --light-error: #FF616D26;
    }
}